_build
_opam
*.install
caml/.imandra_init.log
.DS_Store
*.log
.gradle
.idea/
ipl-monaco/src/ipld.ts
ipl-monaco/src/ipl.ts
ipl-vscode/syntaxes/ipld.tmLanguage.json
ipl-vscode/syntaxes/ipl.tmLanguage.json
ipl-vscode/commands/bin/
ipl-vscode/commands/lib/
com.aestheticintegration.ipl.parent/com.aestheticintegration.ipl.ide/test-data/
com.aestheticintegration.ipl.parent/com.aestheticintegration.ipl.web/src/main/webapp/xtext-resources/generated/ipld-syntax.js
com.aestheticintegration.ipl.parent/com.aestheticintegration.ipl/src/main/resources/
com.aestheticintegration.ipl.parent/com.aestheticintegration.ipl.ide/src/main/resources/com/aestheticintegration/ipl/lib/index/
com.aestheticintegration.ipl.parent/com.aestheticintegration.ipl.ide/src/main/resources/com/aestheticintegration/ipl/libLite/index/
ipl-eclipse/com.aestheticintegration.ipl.eclipse/syntaxes/ipl.tmLanguage.json
ipl-eclipse/com.aestheticintegration.ipl.eclipse/syntaxes/ipld.tmLanguage.json
.sass-cache/
_site/
jekyll-resources/
dep/secrets/imandra-dev--login-token
.merlin
ml-ipl-ast/
